body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    font-size: 2.5em;
}

.eye {
    background-color: rgb(255, 0, 0);
    width: 15%;
    height: 15%;
    border-radius: 80%;
}

.arm {
    background-color: #cacaca;
    position: absolute;
    top: 30%;
    width: 3%;
    height: 48%;
}

#head {
    width: 30%;
    height: 32%;
    border-radius: 18%;
    background-color: #dadada;
    position: absolute;
    left: 32%;
    top: 5%;
}

#righteye {
    position: absolute;
    left: 10%;
    top: 10%;
}

#lefteye {
    position: absolute;
    left: 66%;
    top: 20%;
}

#nose {
    position: absolute;
    left: 45%;
    top: 50%;
    width: 18%;
    height: 10%;
    background-color: black;
}

#mouth {
    position: absolute;
    width: 65%;
    height: 15%;
    left: 20%;
    top: 70%;
    background-color: red;
}

#body {
    position: absolute;
    left: 25%;
    top: 35%;
    width: 45%;
    height: 55%;
    background-color: #b6b3b3c7;
    text-align: center;
    padding-top: 30px;
}

#rightarm {
    position: absolute;
    left: 22%;
}

#leftarm {
    position: absolute;
    left: 70%;
    width: 27%;
    height: 5%;
    background-color: black;
}